<a href="https://colab.research.google.com/github/MarFedorovna/-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df = pd.read_csv('/data (1).csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [7]:
df.head(10)

   children  days_employed  ...   total_income                     purpose
0         1   -8437.673028  ...  253875.639453               покупка жилья
1         1   -4024.803754  ...  112080.014102     приобретение автомобиля
2         0   -5623.422610  ...  145885.952297               покупка жилья
3         3   -4124.747207  ...  267628.550329  дополнительное образование
4         0  340266.072047  ...  158616.077870             сыграть свадьбу
5         0    -926.185831  ...  255763.565419               покупка жилья
6         0   -2879.202052  ...  240525.971920           операции с жильем
7         0    -152.779569  ...  135823.934197                 образование
8         2   -6929.865299  ...   95856.832424       на проведение свадьбы
9         0   -2188.756445  ...  144425.938277     покупка жилья для семьи

[10 rows x 12 columns]

In [8]:
df.isna().sum() #Обнаружила 2174 пропуска в столбцах days_employed и total_income

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [19]:
# какую долю составляют пропущенные значения в каждом из столбцов с пропусками: проверим 'days_employed'
#df['days_employed'].isna().sum()/len(df)
print(f"{df['days_employed'].isna().sum() / len(df):.1%}")

10.1%

In [29]:
print(f"{df['total_income'].isna().sum() / len(df):.1%}") # Доля пропущ значений 'total_income'

9.9%

In [20]:
# Посмотрим есть ли дубли. # 
df.duplicated().sum()

54

In [21]:
# Удалим дубли и сбросим индекс
df = df.drop_duplicates().reset_index(drop=True)

In [22]:
# Проверим удалились ли дубли
df.duplicated().sum()

0

In [23]:
df.head(10)

   children  days_employed  ...   total_income                     purpose
0         1   -8437.673028  ...  253875.639453               покупка жилья
1         1   -4024.803754  ...  112080.014102     приобретение автомобиля
2         0   -5623.422610  ...  145885.952297               покупка жилья
3         3   -4124.747207  ...  267628.550329  дополнительное образование
4         0  340266.072047  ...  158616.077870             сыграть свадьбу
5         0    -926.185831  ...  255763.565419               покупка жилья
6         0   -2879.202052  ...  240525.971920           операции с жильем
7         0    -152.779569  ...  135823.934197                 образование
8         2   -6929.865299  ...   95856.832424       на проведение свадьбы
9         0   -2188.756445  ...  144425.938277     покупка жилья для семьи

[10 rows x 12 columns]

In [25]:
# Посмотрим что с детьми
df['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [26]:
# Значения -1 и 20 выглядят странно. Подсчитаем количество таких строк
df[df['children'] == -1]['children'].count()

47

In [27]:
# Заменим -1 на 1
df['children'] = df['children'].replace(-1, 1)

В столбцах days_employed и total_income есть пропущенные значения, заполнить их медианным значением по столбцу.

In [28]:
df['days_employed'].median() # Так узнаётся медиана по столбцу. Но сначала надо убрать минусы

-1203.369528770489

Пробежимся по всем колонкам и найдем странности

In [31]:
df.sort_values('children')['children'].value_counts().sort_index() # Количество детей

0     14107
1      4856
2      2052
3       330
4        41
5         9
20       76
Name: children, dtype: int64

Теперь ищем кол-во отрицательных значений в трудовом стаже в днях

In [32]:
df[df['days_employed'] < 0]['days_employed'].count() # 15906 отрицат значений! Скорее всего опечатка, нужно убрать минусы.

15906

In [33]:
df[df['days_employed'] > 0].head() # трудовой стаж слишком большой

    children  ...                                purpose
4          0  ...                        сыграть свадьбу
18         0  ...     на покупку подержанного автомобиля
24         1  ...  операции с коммерческой недвижимостью
25         0  ...                   покупка недвижимости
30         1  ...  операции с коммерческой недвижимостью

[5 rows x 12 columns]

Возраст

In [34]:
df.sort_values('dob_years')['dob_years'].value_counts().sort_index()

0     101
19     14
20     51
21    111
22    183
23    253
24    264
25    357
26    408
27    493
28    503
29    544
30    538
31    559
32    509
33    581
34    601
35    616
36    554
37    536
38    597
39    572
40    607
41    606
42    596
43    512
44    545
45    497
46    473
47    477
48    537
49    508
50    513
51    448
52    484
53    459
54    476
55    443
56    484
57    456
58    456
59    443
60    374
61    354
62    349
63    269
64    262
65    194
66    182
67    167
68     99
69     85
70     65
71     58
72     33
73      8
74      6
75      1
Name: dob_years, dtype: int64

Функция abs возвращает абсолютную величину числа. Если ей передать отрицательное число, то она вернёт положительное. Если ей передать положительное число, то она вернёт положительное число.

In [35]:
df[df['days_employed'] == abs(df['days_employed'])]

       children  ...                                purpose
4             0  ...                        сыграть свадьбу
18            0  ...     на покупку подержанного автомобиля
24            1  ...  операции с коммерческой недвижимостью
25            0  ...                   покупка недвижимости
30            1  ...  операции с коммерческой недвижимостью
...         ...  ...                                    ...
21451         0  ...                        сыграть свадьбу
21454         0  ...                           недвижимость
21455         0  ...               операции с недвижимостью
21464         0  ...                   сделка с автомобилем
21467         0  ...                   сделка с автомобилем

[3445 rows x 12 columns]

Теперь проверяем точно ли нет отрицат значений в столбце days_employed

In [36]:
df[df['days_employed'] < 0]['days_employed'].count() # отрицат значения в столбце всё ещё есть

15906

In [39]:
df['days_employed']=df['days_employed'].abs() # теперь функцией abs() заменяем числа на фактические - то есть - не отрицательные

Ищем отрицат значения во всех столбцах.

In [40]:
df[df['days_employed'] < 0]['days_employed'].count() # сделали проверку - заменилось

0

In [41]:
df[df['children'] < 0]['children'].count()

0

In [42]:
df[df['dob_years'] < 0]['dob_years'].count()

0

In [44]:
df[df['education_id'] < 0]['education_id'].count()

0

In [46]:
df[df['family_status_id'] < 0]['family_status_id'].count()

0

In [47]:
df[df['debt'] < 0]['debt'].count()

0

In [48]:
df[df['total_income'] < 0]['total_income'].count()

0

ВЫВОД: У НАС НЕТ ОТРИЦАТ ЗНАЧЕНИЙ В ТАБЛИЦЕ

In [52]:
df["days_employed"].median() # Нашла медиану "days_employed"

2194.220566878695

In [53]:
df["total_income"].median() #Нашла медиану total_income

145017.93753253992

In [54]:
# чтобы заменить NA, мы можем использовать df ["B"]. fillna (df ["B"]. median ()), но он заполнит NA медианой всех данных в "B"У
# У МЕНЯ ПОЛУЧИЛОСЬ ЗАМЕНИТЬ ПРОПУСКИ в days_employed его МЕДИАНОЙ СТОЛБЦА!

df["days_employed"].fillna(df["days_employed"].median())

0          8437.673028
1          4024.803754
2          5623.422610
3          4124.747207
4        340266.072047
             ...
21466      4529.316663
21467    343937.404131
21468      2113.346888
21469      3112.481705
21470      1984.507589
Name: days_employed, Length: 21471, dtype: float64

In [55]:
df["total_income"].fillna(df["total_income"].median())

0        253875.639453
1        112080.014102
2        145885.952297
3        267628.550329
4        158616.077870
             ...
21466    224791.862382
21467    155999.806512
21468     89672.561153
21469    244093.050500
21470     82047.418899
Name: total_income, Length: 21471, dtype: float64

ШАГ 2 В ДАННЫХ МОГУТ ВСТРЕЧАТЬСЯ АНОМАЛИИ. — значения, которые не отражают действительность и появились по какой-то ошибке. Например, отрицательное количество дней трудового стажа в столбце days_employed. Для реальных данных это нормально. Обработайте значения в столбцах с аномалиями и опишите возможные причины появления таких данных.

МИНУСОВ УЖЕ НЕТ, ИХ ОБРАБОТАЛИ. ВЫВОДИМ ЕЩЁ РАЗ DF

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21471 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21471 non-null  int64
 3   education         21471 non-null  object
 4   education_id      21471 non-null  int64
 5   family_status     21471 non-null  object
 6   family_status_id  21471 non-null  int64
 7   gender            21471 non-null  object
 8   income_type       21471 non-null  object
 9   debt              21471 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21471 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [59]:
df.head()

   children  days_employed  ...   total_income                     purpose
0         1    8437.673028  ...  253875.639453               покупка жилья
1         1    4024.803754  ...  112080.014102     приобретение автомобиля
2         0    5623.422610  ...  145885.952297               покупка жилья
3         3    4124.747207  ...  267628.550329  дополнительное образование
4         0  340266.072047  ...  158616.077870             сыграть свадьбу

[5 rows x 12 columns]